# Environment Variables
.env

# Session States & History
zeit_state.json
tolino_state.json
tolino_token.json
state.json

# Temporary Files
temp/
*.epub
*.png
*.log

# Python
__pycache__/
*.pyc
venv/
.venv/

# IDE
.vscode/
.idea/

# Mac
.DS_Store
